h1 {
    border: 2px #eee solid;
    color: brown;
    text-align: center;
    padding: 10px;
}

/* Tamanho personalizado do card */
.custom-card {
    max-width: 250px; /* Largura fixa do card */
    margin: 5px auto 5px; /* Ajusta a margem superior para 5px e inferior para 5px */
    padding: 10px; /* Preenchimento ao redor do conteúdo */
    height: 300px; /* Altura fixa para todos os cards */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid black; /* Adiciona uma borda preta ao redor do card */
}

/* Imagem do card personalizada */
.custom-card img {
    max-height: 150px; /* Ajusta a altura da imagem */
    width: 100%; /* Faz a imagem ocupar toda a largura */
    object-fit: cover; /* Garante que a imagem se encaixe sem esticar */
}

/* Estilo do título do card */
.custom-card-title {
    font-size: 1.1em; /* Ajusta o tamanho do título */
    margin: 10px 0; /* Adiciona um espaço */
}

/* Texto do card */
.custom-card p {
    font-size: 0.9em; /* Tamanho do texto */
    margin: 5px; /* Espaço abaixo do texto */
    flex-grow: 1;
    text-align: center;
}

/* Área dos botões */
.custom-card .buttons {
    display: flex;
    justify-content: center;
    gap: 120px; /* Espaçamento entre os botões */
}

.navbar-brand img {
    vertical-align: middle; /* Alinha a imagem verticalmente dentro da barra de navegação */
    position: relative; /* Permite ajuste fino com posicionamento superior/inferior, se necessário */
    top: 1px; /* Ajuste este valor para mover a imagem para cima ou para baixo */
}
